<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/addCancha" method="POST">
                        <div class="form-group">
                            <input type="number" class="form-control" name="cancha_id" placeholder="ID" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="numero" placeholder="Número de cancha"
                                autofocus>
                        </div>
                        <div class="form-group">
                            <select class="browser-default custom-select">
                                <option selected>Tipo de cancha</option>
                                {{#each tipo_cancha}}
                                <option value="1" id="tipoCancha" name="fk_tcancha">{{nombre}} </option>
                                {{/each}}
                                
                            </select>
                            <input type="number" name="fk_tcancha" class=""form-control placeholder="Tipo cancha"
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="fk_centro" placeholder="Centro" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let combo = document.getElementById("tipoCancha")
    let selected = combo.options[combo.selectedIndex].text
    alert(selected)
    let cod = document.getElementById("tipoCancha").value
    alert(cod)
    
</script>