<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/addCancha" method="POST">
                        <div class="form-group">
                            <input type="number" class="form-control" name="cancha_id" placeholder="ID" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="numero" placeholder="Número" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="fk_tcancha" placeholder="Número" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>