<div class="container p-4">
    <div class="row">
        {{#each allcentros}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">
                    <h1 class="m-2">{{nombrec}}</h1>
                </div>
                <div class="card-body">
                    <p class="m-2">{{descripcion}}</p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="row md-4 mx-auto">
            <div class="text-center">
                <p style="font-size: 2em;">No hay ningún centro agregado.</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>